.img-splash {
  width: 50%;
}

.color-degradiend {
  background: linear-gradient(to bottom right, #530060, #e19);
}

.height-splash {
  height: 669px;
}

.vertical-align {
  transform: translateY(150%);
}

.img-white-small {
  width: 25%;
}

.city {
  background-image: url('../assets/images/city3.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.width-100 {
  width: 100%;
}

.margin {
    margin: 80px 0;
}

.btn-sign-up {
  background-color: transparent;
  border: 2px solid white;
}

.btn-sign-up:hover {
  background: linear-gradient(to bottom right, #530060, #e19);
}

/*Estilos para Page 1*/

nav i.material-icons {
  display: block;
  font-size: 38px;
  height: 56px;
  line-height: 38px;
}

.banderas {
  width: 30%;
}

.min-width {
  min-width: 0px;
}

.dropdown-content li {
  min-height: 30px;
  margin-top: 5px;
}

.btn i {
transform: rotate(90deg);
}

.space {
  margin: 30px 0;
}

.border {
  border: 2px solid black;
}

.car {
  width: 80%;
}

.btn-next {
  background: linear-gradient(to bottom right, #530060, #e19);
  text-transform: capitalize;
}
/*Estilos Page 3*/

.icon-user {
  margin-top: 15px;
  right: -20px;
}

#check p:last-child {
  margin-bottom: 0;
  width: 200px;
}

/*Estilos Page 4*/
.background-white {
  background-color: white;
}
