<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lyft Page 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="../assets/icons/favicon.ico">
    <link rel="stylesheet" href="../vendors/Materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <header>
      <nav class="nav-extended white">
        <div class="nav-wrapper">
          <a class="btn-floating waves-effect waves-light color-degradiend" href="../index.html"><i class="material-icons">keyboard_arrow_left</i></a>
          <a href="#!" class="brand-logo center black-text">Sing Up</a>
        </div>
        <div class="nav-content">
          <center><a href="" class="black-text">Join now for free ride credit</a></center>
      </div>
      </nav>
    </header>
    <section>
      <!--Linea en movimiento-->
      <div class="progress white space">
        <div class="indeterminate pink darken-2"></div>
      </div>
      <div class="container">
        <div class="row space">
        <form class="col s12">

            <div class="col s4 offset-s1">
              <!--Pais para seleccionar -->
              <a class='btn white border' href='#' data-activates='dropdown1'>
                <img id="mexico" src="../assets/images/mexico.png" alt="Bandera Mexicana" class="responsive-img"><i class="material-icons pink-text">play_arrow</i>
              </a>
              <!-- Dropdown Structure -->
              <ul id='dropdown1' class='dropdown-content min-width hide'>
                <li><center><img id="colombia" value="option2" src="../assets/images/colombia.png" alt="Bandera Colombiana" class="responsive-img"></center></li>
                <li><center><img  value="option3" src="../assets/images/peru.png" alt="Bandera Peruana" class="responsive-img"></li>
                <li><center><img  value="option4" src="../assets/images/usa.png" alt="Bandera Norte Americana" class="responsive-img"></center></li>
              </ul>
            </div>
            <!--Ingresar número-->
            <div class="col s6 border">
              <input id="input_text" type="text" placeholder="52">
            </div>

        </form>
      </div>



    <center><p class="space">We´ll send a text to verify your phone</p></center>
    <figure>
      <img src="../assets/images/car.gif" alt="Car" class="width-100 space">
    </figure>
    </section>
    <footer>
      <div class="row space">
      <div class="col s12">
        <a id="next" class="waves-effect waves-light btn-large col s12 grey lighten-2 disabled">Next</a>

      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../vendors/Materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
