<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lyft Page 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="../assets/icons/favicon.ico">
    <link rel="stylesheet" href="../vendors/Materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <header>
      <nav class="nav-extended white">
        <div class="nav-wrapper">
          <a class="btn-floating waves-effect waves-light color-degradiend" href="page1.html"><i class="material-icons">keyboard_arrow_left</i></a>
          <a href="#!" class="brand-logo center black-text">Verify phone number</a>
        </div>
        <div class="nav-content">
          <center><a href="" class="black-text">Join now for free ride credit</a></center>
      </div>
      </nav>
    </header>
    <section>
      <!--Linea en movimiento-->
      <div class="progress white space">
        <div class="indeterminate pink darken-2"></div>
      </div>

      <div class="row space">
        <form class="col s12">
          <div class="row">
            <div class="col s6 offset-s3">
              <span class="col s6"><strong>LAB -</strong></span>
              <input placeholder="" id="code" type="text" class="validate col s5">
              <a id="next" class="waves-effect waves-light btn btn-small col s12 grey lighten-2">Resend Code</a>
            </div>
          </div>
        </form>
      </div>

      <center><p class="space col offset-s1">Enter the code sent to +52</p></center>

      <figure>
        <img src="../assets/images/car.gif" alt="Car" class="width-100 space">
      </figure>
    </section>
    <footer>
      <div class="row space">
      <div class="col s12">
        <a  id="next2" class="waves-effect waves-light btn-large col s12 grey lighten-2">next</a>

      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../vendors/Materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
